/* @font-face {
    font-family: 'Open Sans';
    src: url('../fonts/openSans/OpenSans-Bold.eot');
    src: url('../fonts/openSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/openSans/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/openSans/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/openSans/OpenSans-Light.eot');
    src: url('../fonts/openSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/openSans/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/openSans/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
} */

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/openSans/OpenSans-Regular.eot');
    src: url('../fonts/openSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/openSans/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/openSans/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

